{% extends 'main.html' %}
{% load static %}

{% block extrahead %}
<style>
	.icon {
		float: right;
    	width: 1.1em;
    	filter: invert(100%);
	}
</style>
{% endblock %}

{% block title %}Projects{% endblock %}

{% block heading %}Projects <a class="project-create" href="{% url 'project-create' %}" role="button">Add new project</a>{% endblock %}

{% block main %}
<ul class="projects">
	{% for project in object_list %}
	<li class="project" id="project-{{project.pk}}">
		<details>
			<summary>
				<h3>{{project.name}}</h3>
				<span class="project-link">
				</span>
				<div class="settings">
					<img class="icon" alt="Settings" src="{% static 'hamburger.svg' %}" />
					<div class="settings-expand">
						<ul>
							<li><a role="button" href="{% url 'project-detail' project=project.pk %}">View project report</a></li>
							<li><a href="{% url 'project-update' pk=project.pk %}" role="button">Update project info</a></li>
							<li><a href="{% url 'experiment-create' project=project.pk %}" role="button">Add new experiment</a></li>
							<li><a href="{% url 'project-delete' pk=project.pk %}" role="button" class="danger">Delete project</a></li>
						</ul>
					</div>
				</div>
			</summary>
			<ul>
				{% for experiment in project.experiments.all %}
				<li class="experiment">
					<a href="{{ experiment.get_absolute_url }}">{{experiment.name}}</a>
					<div class="settings">
						<img class="icon" alt="Settings" src="{% static 'settings.svg' %}" />
						<div class="settings-expand">
							<ul>
								<li><a href="{% url 'experiment-update' project=project.pk pk=experiment.pk %}" role="button">Update experiment info</a></li>
								<li><a class="danger" href="{% url 'experiment-delete' project=project.pk pk=experiment.pk %}" role="button">Delete experiment</a></li>
							</ul>
						</div>
					</div>
				</li>
				{% endfor %}
				<li class="experiment"><a href="{% url 'experiment-create' project=project.pk %}" role="button">Add new experiment</a></li>
			</ul>
		</details>
	</li>
	{% endfor %}
</ul>
{% endblock %}
