@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --nav-height: 5vh;
    --main-height: calc(100vh - var(--nav-height));

    --primary-color: white; /*rgb(40, 40, 40);*/
    --text-color: black; /*rgb(230, 225, 229);*/
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--text-color);

    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#app nav {
    width: 100vw;
    height: var(--nav-height);
    border-bottom: 2px solid var(--text-color);
}

#app nav h1 {
    padding-left: 0.5rem;
}

#app main {
    position: absolute;
    left: 0;
    right: var(--nav-height);
    display: flex;
    height: var(--main-height);
    width: 100vw;
}

.loading {
    padding: 1rem;
    width: 10rem;
    margin: 0 auto;
}

.loader {
    margin-top: 3rem;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1rem solid var(--text-color);
    border-bottom-color: transparent;
    animation: load 1s infinite linear;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}